
.logpage,.sigpage{
    padding: 4em;
    height: 570px;
    margin: 1px auto;
}

.MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #0a88ea;
}

.password{
   margin-top: 5%;
}

.button{
    margin: 3.5% 0;
}

.block1{
    margin: 3%;
}

#filled-basic{
    background-color: rgb(255, 255, 255);
}

.classes{
    width: 3150;
}

.pap {

    width: 496px;
    height: 750px;
    
}

.MuiFormHelperText-root{
    color: red !important;
}



.mbg{
    background-image: url(../Assets/vote.jpg);
    min-height: 100vh;
    min-width: 100vw;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .{
    background-color: black;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    

    
} */

@media screen  and (max-width: 700px){
  .pap{  height: 100%;
    width: 100%;}
}