
.webcam-btn{
   position: relative;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   top: 30em;
   width: 10%;
   transform: translate(450%,-10%);
}

.voterid{
    position: relative;
    text-align: center;
    margin: auto;
    justify-content: center;
    top: 29em;
    width: 50%;
    
}

.buttonver{
    position: relative;
    margin: auto;
    justify-content: center;
    top: 30em;
    width: 50%;
}

.MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #0a88ea;
}

.VoterIDNumber{
   margin-top: 2em;
}

.Varhead{
    padding: 2px;
    display: flex;
    justify-content: center;
    color: rgba(44, 44, 231, 0.788);
}
